.content {
  max-width: var(--wrapper);
  width: 100%;
  margin: 0 auto;
  padding-bottom: var(--spacing-large);
}

@media screen and (max-width: 1150px) {
  .main {
    padding: 0 var(--spacing-standard);
  }
}
