.characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-large);
}

.information {
  width: 80%;
  padding-left: 1.5rem;
  border-left: 1px solid var(--colors-gray-400);
  margin-left: 0.325rem;
  padding: 1rem 1.325rem;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field svg {
  color: var(--color-icon);
}

.photo {
  display: flex;
  justify-content: center;
  padding: 1rem 1.325rem;
}

.notFound {
  text-align: center;
  padding: var(--spacing-large);
  font-weight: var(--medium);
  color: var(--colors-gray-500);
  font-size: var(--font-size-large);
  border-radius: var(--border-radius-semi);
  border: 2px solid var(--colors-gray-300);
}

@media screen and (max-width: 640px) {
  .characters {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--spacing-standard);
  }
}
